# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/.deps/
/src/.libs/
/autom4te.cache/
/nbproject/private/
/Makefile
/Makefile.in
/src/resources.c
/src/Makefile
/src/Makefile.in
/m4/ltversion.m4
/m4/ltsugar.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/lt~obsolete.m4
/res/Makefile.in
/res/Makefile
/install-sh
/config.guess
/stamp-h1
/config.h
/config.sub
/config.h.in
/config.log
/libtool
/configure
/aclocal.m4
/missing
/config.status
/depcomp
/ltmain.sh
/compile
/pkg/
/src/configure.ac
/PKGBUILD
/test/Layout.cpp
/test/JulianDate.hpp
/test/Point2D.hpp
/test/AzimutAltitude.cpp
/test/Point2D.cpp
/test/AzimutAltitude.hpp
/test/Makefile
/test/JulianDate.cpp
/test/GeoPosition.cpp
/test/GeoPosition.hpp
/test/Makefile.in
/test/RaDec.cpp
/test/Layout.hpp
/test/RaDec.hpp
/test/test-suite.log
/test/astro_test
/test/astro_test.log
/test/astro_test.trs
/test/Math.hpp
/test/Math.cpp
/test/Earth.cpp
/test/Earth.hpp
/test/RaDecPlanet.cpp
/test/Planet.hpp
/test/Planet.cpp
/test/RaDecPlanet.hpp
/test/Venus.cpp
/test/Venus.hpp
/test-driver
/test/c++allocator.h.cpp
/test/atomic_wait.h.cpp
/test/clocale.cpp
/test/assertions.h.cpp
/test/allocator.h.cpp
/test/special_function_util.h.cpp
/test/bit.cpp
/test/c++locale.h.cpp
/test/compare.cpp
/test/os_defines.h.cpp
/test/concepts.cpp
/test/concept_check.h.cpp
/test/align.h.cpp
/test/char_traits.h.cpp
/test/climits.cpp
/test/stl_deque.h.cpp
/test/cctype.cpp
/test/beta_function.tcc.cpp
/test/alloc_traits.h.cpp
/nbproject/launcher.properties
/test/specfun.h.cpp
/test/basic_ios.tcc.cpp
/test/.deps/astro_test.Tpo
/test.py
/test/PyWrapper.cpp
/test/PyWrapper.hpp
/nbproject/project.xml
/nbproject/configurations.xml
/run.sh
/test_clip.pdf
/test_noclip.pdf
/src/background
